*{
    margin: opx;
    padding: 0px;
}
nav{
   
    background-color: rgb(23, 172, 198);
    padding: 10px;
    background: linear-gradient(#00545d,#000729);
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    position:relative;
    left: 10%;
    z-index:2;
    transition: color 0.5s;
}
nav ul li::after{
    content: '';
    background:linear-gradient(rgb(230, 70, 89),rgb(33, 33, 12));
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity:0;
    transition: top 0.5s, opacity 0.5s;

}

nav ul li:hover{
    color: beige;
    
}
nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}
a{
    color: #fff;
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
.logo{ 
    width: 100px;
    cursor: pointer;
    position:absolute;
    left: -10px; 
    
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
   
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
    align-items: center;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width:800px;
    height:500px;
}
.navigation-manual{
    position:absolute;
    width:800px;
    margin-top: -40px;
    display:flex;
    justify-content: center;

}
.manual-btn{
    border:2px solid #00545d;
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: rgba(210, 8, 65, 0.292);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.text{
    height: 80px;
    font-size: 120% ;
    font-weight:bold;
    background-color: crimson;
}
.content p{
    font-size: 120% ;
   
    font-style: none;
    color: black;
    word-spacing: 5px;
}
.lesbian{
    color: darkred;
}
.gay{
    color: darkred;
}
.bisexual{
    color: darkred;
}
.trans{
    color: darkred;
}
.lesbian{
    color: darkred;
}
.queer{
    color: darkred;
}

.content1 {
       text-decoration: none;
}
.content1 li{
    font-size: 120%;
}
body{
    background-color: antiquewhite;
}